<div class="container mt-5">
<div class="card" style="width:400px">
    <img class="card-img-top" [src]="'http://localhost:1234/img/'+getRecip.img+'.jpg'" width="50px">
    <div class="card-body">
        <h4 class="card-title">{{getRecip.recipeName}}</h4>
        <p class="card-text">{{getRecip.description}}</p>
        <p class="card-text">Level: {{getRecip.level}}</p>
        <p class="card-text">Time duration: {{getRecip.timeDuration}}</p>
        <p class="card-text">Kind: {{getRecip.kind}}</p>
        <div>
            <h6>components:</h6>
            @for(c of getRecip.components; track $index){
            <p>- {{c.name}}: {{c.amount}}</p>
            }
        </div>



    </div>
    <a [routerLink]="['/home']">home</a>
</div>
</div>